.App {
  text-align: center;
}

.square {
  width: 25vh;
  height: 20vh;
  border: 1px solid red;
  margin: auto;

}

.flex-container {
  display: flex;
  padding: 20vh 35vh 0 35vh;
  margin: 5vh 5vh;
  justify-content: center;

}

.solution {
  padding: 100px 0 0 0;
}
